pandas
transformers
torch
matplotlib
streamlit
google-generativeai
sentence-transformers
scikit-learn
python-dotenv
numpy
torchvision 
spacy
pypdf
chromadb
langchain==0.2.17
langchain-community==0.2.17
langchain-huggingface
langchain-google-generativeai
ollama
langchain-ollama